@font-face {
    font-family:paragraph;
    src: url(assets/fonts/Baskervville-Regular.ttf);
}

@font-face {
    font-family: heading;
    src: url(assets/fonts/morthern-morthern-400.ttf);
}

@font-face {
    font-family: heading1;
    src: url(assets/fonts/The\ New\ Elegance.ttf);
}

/*----------------------------------
Navbar
-----------------------------------*/

.menu{
gap:8vh;  
margin-top:20px;
width:140vh;
margin-left:50px;
}

@media screen and (min-device-width: 1000px) and (max-device-width: 2560px) { 
.mobile-main{
  display:none;
}
}

@media (max-width:1150px){
  .menu{
    gap:8vh;  
    margin-top:20px;
    width:120vh;
    }
}


@media(max-width:1000px){
  .header-main{
   display:none; 
  }
}

.menu a{
  text-decoration:none;
  color:#000;
  font-family:paragraph;
}
.menu li{
  list-style:none;
}
.navbar{
margin:20px 0px 20px 0px;  
position:relative;
}
.nav-mobile-menu {
  visibility: hidden;
  opacity: 0;
  background: white;
  width: 0px;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top:0;
  padding-top:130px;
  left:0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}

.active.nav-mobile-menu {
  visibility: visible;
  opacity: 1;
  width: 100vw;
}

.nav-mobile-menu {
  text-align:center;
}

.nav-mobile-menu ul li{
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 30px;
}


/****************
     BUTTON
****************/
.nav-mobile-button {
  overflow:hidden;
  margin: auto;
  width: 90px;
  height: 90px;
  background: none;
  cursor: pointer;
  position: absolute;
  top:0;
  left:48%;
  z-index: 1000;
  margin-top:-5px;
}



#nav-mobile-bar-top {
  top: 30px;
}

#nav-mobile-bar-middle {
  top: 45px;
}

#nav-mobile-bar-bottom {
  top: 60px;
}

.nav-mobile-bar {
  left: 15px;
  width: 60px;
  height: 3px;
  background: #000;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.active#nav-mobile-bar-middle{
  left: 90px;
}

.active#nav-mobile-bar-top {
  top: 45px;
  transform: rotate(135deg);
  background: black;
}


.active#nav-mobile-bar-bottom {
  top: 45px;
  transform: rotate(-135deg);
  background: black;
}

/*Hover effects*/
.nav-mobile-button:hover #nav-mobile-bar-top:not(.active) {
  left: 20px;
}

.nav-mobile-button:hover #nav-mobile-bar-middle:not(.active){  
  left: 10px;
}

.nav-mobile-button:hover #nav-mobile-bar-bottom:not(.active) {
  left: 20px;
}

/*Hover effects active*/
.nav-mobile-button:hover .active#nav-mobile-bar-top {
  top: 50px;
  left: 10px;
}

.nav-mobile-button:hover .active#nav-mobile-bar-bottom{  
  top: 40px;
  left: 10px;
}

.nav-btn{
background-color:#AD2847;
width:150px;
border: 1px solid #AD2847;
font-family:paragraph;
padding:8px 0px 8px 0px;
position:absolute;
margin-top:12px;
font-size:13px;
color:#fff;
font-weight:500;
}

@media (max-width:599px){
  .nav-mobile-button{
    left:65%;
    margin-top:-6px;
  } 
  .nav-btn{
    display:none;
  }
  
}
/*----------------------------------
Navbar-end
-----------------------------------*/

.about h2{
margin-bottom:20px;    
font-weight:400;
font-family: heading;

}

.about p{
 text-align: justify;   
 font-family:paragraph;
}

.about-content{
margin-top:60px;    
}
 
.about{
margin:20px 0px 20px 0px;  
}



/*---------------------------
Slider
----------------------------*/
.owl-carousel{
    margin:60px 0px 20px 0px;
}

.left-section img{
height:450px;
}

/*---------------------------
Explore
----------------------------*/
.explore h2{
    text-align: center;
    font-family:heading;
    font-weight:600;
    margin-bottom:40px;
}
.explore{
    margin-top:50px;
    margin-bottom:40px;
}

.explore img{
margin-bottom:20px;
}


/*---------------------------
Overlay
----------------------------*/

.overlay-image{
background-image:url(assets/img/Group\ 53.png); 
background-size: cover;   
height:500px;
width:100%;
margin:20px 0px 30px 0px;
}

.overlay-image h2{        
font-family:heading;  
font-size:45px;  
color:#EDE7C3;
padding-top:210px;
text-align:center;
word-spacing:2px;
}

/*---------------------------
AArambh
----------------------------*/
.aarambh{
background-color:#AD2847; 
padding:40px 0px 40px 0px;
margin:50px 0px 50px 0px;
}

.aarambh h4{
font-size:20px;  
font-family:paragraph;
color:#AF9142;
margin-top:15px;
}

.aarambh img{
width:250px;  
}

.aarambh p{
  color:#AF9142;
  font-family:paragraph;
  font-weight:600;
  margin-top:10px;
}

.right-box{
margin-top:35px;
padding-left:60px;  
}

@media (max-width:599px) {
  .right-box{
    padding-left:30px;
    } 
  
}

/*-------------------------------
Footer
------------------------------*/
.footer-left li{
list-style: none;
text-decoration:none;  
}
.footer-left a{
  text-decoration:none; 
  font-family:paragraph;
  font-weight:800; 
  color:#000;
  font-size:16px;

  }
.footer-left{
gap:3vw; 
}  

.footer img{
margin-top:-20px;
width:150px;
}

.footer{
  gap:5vh;
}

@media (max-width:599px) {
    .footer img{
      margin-top:20px;
      margin-bottom:30px;
      width:150px;
      }
      .footer-left{
        gap:3vw;
        margin-left:20px; 
        }  
}

.all-right h2{
font-family:paragraph;
font-size:20px;  
text-align: center;
padding:20px 0px 20px 0px;
}


/*---------------------------------
Instagram
---------------------------------*/
.insta{
margin:20px 0px 20px 0px;  
}
.insta h2{
font-family:heading;
font-size:40px;
font-weight:700;
}

.insta h3{
font-family:paragraph;
font-size:20px;  
font-weight: 600;
}

.img-left img{
width:170px;  
}

.center-image img{
width:365px;  
}

@media(max-width:599px){
.img-left img{
  width:50%;
  } 
.insta{
  display: none;
}
}

@media(max-width:1000px){
.nav-btn{
left:75%;
margin-top:-50px;
}  
}